<%- include('./partials/header') %>
    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>

    <% posts.forEach(post=> { %>
        <div class="form-group">
            <h2>
                <%= post.postTitle %>
            </h2>
            <p>
                <%= post.postBody %>
            </p>
        </div>
        <% }) %>
            <%- include('./partials/footer') %>